* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'JetBrains Mono', 'Arial', sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  width: 100%;
}

img {
  width: 100%;
}

/*BASIC STYLES*/

.button {
  display: flex;
  width: 40%;
  max-width: 300px;
  height: 50px;
  background: transparent;
  border: 3px solid #353B40;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.button:hover {
  border-radius: 0;
  max-width: 350px;
  width: 45%;
  background: #353B40;
  color: #fff;
  -webkit-box-shadow: 0px 5px 16px 0px rgba(34, 60, 80, 0.06);
  -moz-box-shadow: 0px 5px 16px 0px rgba(34, 60, 80, 0.06);
  box-shadow: 0px 5px 16px 0px rgba(34, 60, 80, 0.06);
  transition: 0.2s ease-in-out;
}

.text-align-justify {
  text-align: justify;
}

.row-margin {
  margin-top: 3%;
}

.negative-image {
  filter: invert();
}

.black-text {
  color: #000000;
}

.white-text {
  color: #fff;
}

.link {
  text-decoration: underline;
}

.title {
  font-size: 48px;
}

.big-title {
  font-size: 64px;
}

.text-block {
  font-size: 24px;
}

.text-block-big {
  font-size: 32px;
}

.scroll-down-link-black {
  color: black;
  font-size: 20px;
  transition: 0.3s;
}

.scroll-down-link-black:hover {
  color: white;
  background: black;
  transition: 0.3s;
}

.scroll-down-link-white {
  color: white;
  font-size: 20px;
  transition: 0.3s;
}

.scroll-down-link-white:hover {
  color: black;
  background: white;
  transition: 0.3s;
}

.big-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.fullscreen-block {
  height: 100vh;
}

.big-block-wrapper {
  width: 100%;
  padding: 3%;
  max-width: 1000px;
}

/*HEADER*/

.big-block__header {
  background: #000000;
}

.header__wrapper {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-around;
  position: absolute;
  top: 5%;
}

.menu__link {
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.header-title {
  color: #fff;
  text-align: center;
}



/*ABOUT ME*/

.big-block__me {
  height: 100vh;
}

.me__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.content-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 50%;
  padding: 3%;
}

.content-block__white {
  background: #fff;
  border: 3px solid black;
}

.content-block__black {
  background: #000;
}

/* MY SKILLS */

.big-block__skills {
  background: #000;
  min-height: 100vh;
}

.skills__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0;
}

.line {
  margin-top: 50px;
}

.line__left {
  align-self: flex-start;
  margin-left: 7%;
}

.line__right {
  align-self: flex-end;
  margin-right: 7%;
}

.line__with-two-el {
  flex-direction: row;
  justify-content: space-between;
}

/* PROJECTS */

.big-block__projects {
  min-height: 100vh;
}

.projects__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7% 2%;
}

.projects__wrapper > .text-block-big {
  color: grey;
  margin-top: 1%;
}

.projects {
  margin-top: 7%;
}

.row-margin__projects {
  margin-top: 10%;
}

.col__projects {
  width: 40%;
}

.project-block {
  -webkit-box-shadow: 0px 0px 40px 3px #AFCAE3;
  -moz-box-shadow: 0px 0px 40px 3px #AFCAE3;
  box-shadow: 0px 0px 40px 3px #AFCAE3;
  border-radius: 10px;
  padding: 5% 0;
}

/* FOOTER */

.big-block__footer {
  background: #000;
}

@media only screen and (max-width: 750px) {

  .fullscreen-block + .big-block__me {
    height: auto;
  }

  .content-block {
    width: 90%;
  }

  .row {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .col {
    width: 100%;
  }

  .col > .scroll-down-link-white {
    margin-top: 5%;
  }

  .col > .scroll-down-link-black {
    margin-top: 5%;
  }

  .line {
    text-align: center;
    margin: 8% 3%;
    width: 90%;
  }

  .title {
    text-align: center;
  }

  .col__projects {
    width: 90%;
  }

  .button {
    width: 70%;
  }
}